html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: var(--color-cream-white); 
  min-height: 100vh;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}
.home-section {
  background-color: var(--color-cream-white);
}

body {
  background-color: var(--color-cream-white);
  overflow-x: hidden;
}
#scroll {
  overflow: auto;
}

#about {
  scroll-margin-top: 100px;
}