:root {
  --color-navy-blue: #03045A;
  --color-olive-green: #464314;
  --color-soft-yellow: #F9F04D;
  --color-cream-white: #FBF8D1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-cream-white) !important;
  font-family: 'Raleway', sans-serif;
}